[2015-02-26 12:32] syci opened #2 "[7.0] You can not validate a field Folio for lack of currency"
![picture651-1](https://cloud.githubusercontent.com/assets/7081394/6391921/490b6fbc-bdb3-11e4-8f87-882784ca2466.png)

As shown in the attached picture , the currency field is not used to validate the record

[2015-02-26 12:35] pedrobaeza commented on #2
Mario, please put your issue in english, as this one is not in spanish domain.

[2015-05-25 15:02] max3903 opened #3 "Migration to version 8"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-8
# Modules to migrate
- [x] board_frontdesk
- [ ] hotel by @amoya-dx in https://github.com/Domatix/vertical-hotel/tree/mig_8.0_hotel
- [ ] hotel_housekeeping
- [ ] hotel_reservation
- [ ] hotel_restaurant
- [ ] report_hotel_reservation
- [ ] report_hotel_restaurant

[2015-05-25 15:52] max3903 opened #4 "hotel_reservation - ImportError: No module named wizard"
I tried to install hotel_reservation and I get the following error:

[code]

[2015-06-25 16:40] amoya-dx commented on #3
Hi, in Domatix we are working on hotel module in this branch

https://github.com/Domatix/vertical-hotel/tree/mig_8.0_hotel

[2015-10-14 00:55] pedrobaeza opened #9 "Migration to version 9.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-9.0
# Modules to migrate
- [ ] report_hotel_restaurant
- [ ] hotel_reservation
- [ ] hotel
- [ ] board_frontdesk
- [ ] hotel_restaurant
- [ ] report_hotel_reservation
- [ ] hotel_housekeeping

[2015-10-23 20:25] iamtutumo opened #10 "Check in & Check Outs"
There is no facility to make a check in and check out for example if a guest books for 5 days and they leave after 2 days , we should check them out such that the room is marked as available

[2015-11-09 11:05] ebaseitsolution opened #11 "While try to install addon Hotel Management apps getting following error in odoo v9"
ParseError: "Invalid view definition

Error details:
Element '<xpath expr="//div[@name='company_address']">' cannot be located in parent view

Error context:
View `report.external_layout_header`
[view_id: 176, xml_id: report.external_layout_header, model: n/a, parent_id: n/a]
None" while parsing None:9, near
<data inherit_id="report.external_layout_header" primary="True">
            <xpath expr="

[2015-11-09 12:32] elicoidal commented on #11
Hi,
this module has not yet been ported to v9.
best regards

[2015-11-09 12:32] #11 closed, assigned to nobody

[2015-11-09 12:40] ebaseitsolution commented on #11
Hi Eric,

Thanks a lot for your reply. Can you guide me what exactly I have to perform to install this add on apps/ module in Odoo V9.

Regards
Snigdha Bhattacharya

[2015-11-09 13:16] elicoidal commented on #11
@ebaseitsolution
Addons are valid mostly for one version of Odoo. Today to be able to use this module in v9 you need first to migrate it to the new version. This means some programming to change the data structure and methods before you are able to use it properly.
Migration is quite a technical process and might imply efforts from several community members.
You can participate in the task if you

[2015-11-09 13:56] ebaseitsolution commented on #11
I have downloaded the addon modules from Github repository as per the odoo version. I am the facing the installation issue in both V8 and V9. I have used the version based addon apps. If I could get the error resolution I will try to apply the necessary changes. Currently I can't find similar error in the community.

[2016-05-19 04:50] adrian7818 opened #12 "Installing vertical-hotel in Odoo 9"
Hi there,

I have tried to search for the steps to install the module into my Odoo 9.0.
Even after I have unpacked the zip file in addons folder. And enable the Developer Mode, I'm still unable to see the module available in my Odoo App list.

Is there something which I might have missed out here?
Thank you.

[2016-05-19 06:06] elicoidal commented on #12
Hi @adrian7818
thanks for your interest in the OCA modules.
Those modules are not installable in v9 (only v7) because they have not yet been migrated.
If you are interested in working in their migration let us know as we are looking for volunteers.
I close the issue accordingly

[2016-05-19 06:06] #12 closed, assigned to nobody

[2016-10-06 14:11] pedrobaeza opened #13 "Migration to version 10.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-10.0
# Modules to migrate
- [x] board_frontdesk
- [x] hotel
- [x] hotel_housekeeping
- [x] hotel_reservation
- [x] hotel_restaurant
- [x] report_hotel_reservation
- [x] report_hotel_restaurant

[2016-12-26 15:21] Matt-OBell opened #14 "Error navigating menu"
In v10, when I navigate from a menu to another eg
a) when I click on Reservation, I get the error "TypeError: this.widget.active_view is null"
b) when I try to click on the hotel apps from the apps dashboard, I get the error "TypeError: obj is not a constructor"

Regards
Dare

[2017-09-25 11:52] rafaelbn commented on #3
Hi @max3903 ,

Is this https://github.com/OCA/vertical-hotel dead inside OCA?

I see outside OCA there are some project but no body is working in OCA. Do you know wich is the more "oficial" project about this vertical?

Thanks
Regards

[2017-09-25 13:10] JayVora-SerpentCS commented on #3
You are right, I was supposed to work on it, but haven't been able to port as the base version is very different than mine. If I get more reviewers added up, it will help.
Ours is https://github.com/JayVora-SerpentCS/OdooHotelManagementSystem/ fully ready to be ported.
Someone just needs to add up.

[2017-10-02 12:17] JayVora-SerpentCS commented on #13
@pedrobaeza Working on wholesale Merge today to close asap, and then will add to v11. Would that work ?

[2017-10-02 16:22] pedrobaeza commented on #13
Great. Please try to gather people for reviewing it, reduce the number of commits squashing by logical blocks, and check Travis and runbot CI.

I have an script for creating the 11.0 branches, so don't worry about that part.

[2017-10-03 10:39] JayVora-SerpentCS commented on #14
Dare, this doesn't happen with latest version. Closing henceforth.

[2017-10-03 10:39] #14 closed, assigned to nobody

[2017-10-03 12:13] JayVora-SerpentCS opened #19 "Reservation to Folio - Smartbutton"
There is an O2M now, we should add a smartbutton to go to folio from Reservation(s).

[2017-10-03 12:13] JayVora-SerpentCS commented on #4
Works in v10, hence closing.

[2017-10-03 12:13] #4 closed, assigned to nobody

[2017-10-03 12:56] JayVora-SerpentCS commented on #10
We have the chckout dates now. We are editing the checkout logic in #OCA2017. Thanks.

[2017-10-03 12:56] #10 closed, assigned to nobody

[2017-10-03 13:36] JayVora-SerpentCS commented on #2
It has been corrected in v10. Do reopen if the issue is found.

[2017-10-03 13:36] #2 closed, assigned to nobody

[2017-10-03 15:04] pedrobaeza opened #21 "Migration to version 11.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-11.0

# Modules to migrate

- [x] board_frontdesk
- [x] hotel - By @darshan-serpent - #33
- [x] hotel_housekeeping - ~~By @KrishnaPrajapati-SerpentCS - #36~~ By @darshan-serpent - #41
- [x] hotel_reservation - ~~By @KrishnaPrajapati-SerpentCS - #34>~~ By @darshan-serpent - #42
- [x] hotel_restaurant - ~~@KrishnaPrajapati-Ser

[2017-10-08 21:46] rafaelbn commented on #13
@pedrobaeza all modules have been migrated and merged so you can check all modules as done! 👍

[2017-10-08 22:30] #13 closed, assigned to nobody

[2017-10-17 16:45] rafaelbn commented on #9
I think we can close this issue. It's migrated to v10 and nobody is going to migrate to v9 IMO

[2017-10-17 17:29] pedrobaeza commented on #9
OK, I agree.

[2017-10-17 17:29] #9 closed, assigned to nobody

[2017-10-19 01:46] rafaelbn commented on #3
Hi @max3903 @JayVora-SerpentCS

I think we can close this issue. It's migrated to v10 and nobody is going to migrate to v8 IMO

[2017-10-19 07:25] #3 closed, assigned to nobody

[2017-10-19 13:36] max3903 commented on #3
:+1:

[2017-10-20 00:29] elicoidal commented on #3
Someone just needs to add up.

@JayVora-SerpentCS do you think you could start the port to v10?
Having a great vertical-hotel would be awesome for the OCA

[2017-10-20 06:12] pedrobaeza commented on #3
@elicoidal, it was already moved to OCA during LLN code sprint.

[2017-10-20 07:58] elicoidal commented on #3
Fantastic!

[2017-10-31 11:43] KrishnaPrajapati-SerpentCS commented on #19
Fix this issue : https://github.com/OCA/vertical-hotel/pull/26/commits/2050967b9f0a4cfde2168be0c02c44bfa6e6d71f

[2017-11-10 13:12] JayVora-SerpentCS commented on #19
Thanks,

[2017-11-10 13:12] #19 closed, assigned to nobody

[2018-01-06 11:30] bunhin opened #30 "[10] vertical-hottel -reservation Error: QWeb2: Template 'summaryDetails' not found"
the error when click reservation summary:

Error: QWeb2: Template 'summaryDetails' not found

http://...../web/content/347-fb4e346/web.assets_common.js:2908
Traceback:
exception@http://...../web/content/347-fb4e346/web.assets_common.js:2908:7
_render@http://....../web/content/347-fb4e346/web.assets_common.js:2953:92
.....
....
fire@http://.../web/content/347-fb4e346/web.assets_common.js:541:281
fi

[2018-03-11 12:11] JayVora-SerpentCS commented on #30
@bunhin Would you please try restarting server?

[2018-03-17 20:49] JayVora-SerpentCS commented on #30
@KrishnaPrajapati-SerpentCS Please check.

[2018-03-19 10:42] KrishnaPrajapati-SerpentCS commented on #30
Hello @bunhin
I have installed all hotel management modules with demo data and I have not been able to capture any error.
Here you can see attached screenshot:
![reservation summary - odoo](https://user-images.githubusercontent.com/23502495/37591054-4338625e-2b90-11e8-8ad8-cda19243ecd1.png)

[2018-03-19 10:54] JayVora-SerpentCS commented on #30
Are you using any 3rd party module @bunhin  ?

[2018-03-19 10:54] JayVora-SerpentCS commented on #30
Closing for now

[2018-03-19 10:54] #30 closed, assigned to nobody

[2018-03-19 14:27] bunhin commented on #30
I try to restart the server and there is no error now, i am sorry for delayed to response back.

[2018-05-17 14:00] omarouhari commented on #21
is there some one to validate this migration !!

[2018-05-17 14:02] pedrobaeza commented on #21
@omarouhari You can do it checking the PRs: https://odoo-community.org/page/review

[2018-05-19 11:36] omarouhari commented on #21
@pedrobaeza how can I get the source code of migrated version ?

[2018-05-19 16:34] pedrobaeza commented on #21
You have to know Git for cloning the branch or use GitHub for downloading a ZIP file, but you can try on our runbot infrastructure.

[2018-05-19 23:29] omarouhari commented on #21
@pedrobaeza I know Git very well but there is no source code in branch 11 except readme file !!
Maybe I have to use travis !!
Thanks showing me how to use it.

[2018-05-19 23:59] pedrobaeza commented on #21
The source is in the PRs (pull requests)

[2018-05-29 16:00] omarouhari commented on #21
@pedrobaeza I couldn't download the source code. Can you show me how achieve this please !!

[2018-05-29 16:02] pedrobaeza commented on #21
@omarouhari Everything is open, so what you only need to do is to know how to do it. Using GIT and cloning branches from PRs or downloading directly via tools that GitHub offers, you will get the code, but this is out of my scope as community manager for teaching you on how to do it.

I hope you understand.

[2018-06-13 16:42] ericdai commented on #21
how to install it under odoo11？

[2018-06-14 05:50] JayVora-SerpentCS commented on #21
@ericdai This is a work in progress. You may see the PRs and it may help you setup v11, but nt reviewed yet.

[2018-06-15 03:43] SmithLin0618 opened #39 "API update: Yahoo finance API Discontinued 2017-11-06"
For Yahoo finance API Discontinued 2017-11-06
the currency exchange is not work now
 can you help to change the api to free.currencyconverterapi.com

A sample conversion URL is: http://free.currencyconverterapi.com/api/v5/convert?q=EUR_USD&compact=y

thank you

[2018-06-18 07:03] JayVora-SerpentCS commented on #39
@SmithLin0618 we will surely keep this in plan. Thanks.

[2018-06-27 14:36] ericdai commented on #21
when will the v11 be ready?

[2018-07-10 09:17] JayVora-SerpentCS commented on #39
@darshan-serpent Please check that and do the needful.

[2018-08-31 03:29] infomate opened #43 "Hotel management dashboard error"
Hello,
Here's my test system:
Ubuntu 18 / odoo 10 / Hotel Management app
I am testing the Hotel management app.  If I open the dashboard and try to minimize/maximize (-/+) the dashboard contents an error window pops-up.
If I close the window the app still works.

Odoo Server Error
Traceback (most recent call last):
  File "/opt/odoo/odoo/http.py", line 642, in _handle_exception
    return super(Js

[2018-09-03 06:05] vbezl commented on #21
RoomSummary widget in /hotel_reservation/static/src/js/hotel_room_summary.js - doesn't work - it doesn't catch events - this.on("_onFieldChanged:date_from", this, function() {...} doesn't catch it. I cann't figure out why...

[2018-09-15 18:25] vijoin commented on #21
Hi.

With all respect,
Odoo 12 is about to be released and this module has not been ported to v11 yet.. I've seen several PRs and reviews but  they have not been aproved either.

Is there something I can do to get this job done quicker?

Would it make any difference to add a new review or is it something about a high ranked developer to give the "+1" ?

[2018-09-16 11:11] pedrobaeza commented on #21
See OCA contribution guidelines for knowing the reviewing rules: https://github.com/OCA/maintainer-tools/blob/master/CONTRIBUTING.md

[2018-09-20 07:15] JayVora-SerpentCS commented on #43
@infomate Can you please try with the latest version ?

[2018-09-27 00:40] OCA-git-bot opened #44 "Migration to version 12.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-12.0

# Modules to migrate

- [x] hotel - By @vimalpatelserpentcs - #54
- [x] hotel_restaurant - By @dhruvitaSerpentCS - #66
- [ ] report_hotel_reservation

[2018-11-11 05:31] Osvalcosta opened #45 "Hi there !"

[2018-11-11 05:36] Osvalcosta opened #46 "Hotel Management"
I am testing hotel management module and i am getting error while doing the checking,
Saying that the time must be greater than the corrent time, but my time is corret.

Can some please help me how to fix it ??

[2018-11-11 12:01] #45 closed, assigned to nobody

[2018-11-11 12:01] pedrobaeza commented on #46
Please Odoo version and detailed steps to reproduce the problem.

[2018-11-23 16:31] sm2x opened #47 "Hotel POS"
Will there be a Hotel POS, where you can send POS orders to customer's folio

[2018-11-24 04:52] YogeshMahera-SerpentCS commented on #47
Hi @sm2x Right now in vertical-hotel there is no functionality related hotel pos.

[2018-11-24 05:34] #47 closed, assigned to nobody

[2018-11-24 06:24] Dangar-Serpentcs opened #48 "Face an issue while installing hotel_housekeeping module."
Facing an issue when install hotel_housekeeping module.
![image](https://user-images.githubusercontent.com/38550879/48965262-a6cd0680-efdf-11e8-9c67-3e09196ec021.png)

[2018-11-24 07:27] vimalpatelserpentcs opened #51 "[11.0] invalid form view sequence in folio line room no and also different category"
Steps :
Create New folio
In  Room Lines click on **Add and item**
Select Room No And open its view

![hotel-issue-03](https://user-images.githubusercontent.com/27808219/48965717-61610700-efe8-11e8-8869-63580e0b06f9.png)

![hotel-issue-01](https://user-images.githubusercontent.com/27808219/48965692-11824000-efe8-11e8-9df7-e0eae52e5bf0.png)

![hotel-issue-02](https://user-images.githubusercontent.co

[2018-11-24 07:40] vimalpatelserpentcs opened #52 "[11.0] Can't display tax in folio line"
Add tax in room
Create New folio
Add an item and select room
in folio line can't display the tax in line

![hotel-issue-11](https://user-images.githubusercontent.com/27808219/48965810-3c6d9380-efea-11e8-95df-6b20dfc835f2.png)

![hotel-issue-12](https://user-images.githubusercontent.com/27808219/48965811-4099b100-efea-11e8-8d14-399edf087600.png)

[2018-12-01 22:53] Mimbex opened #53 "Reservation Summary White"
![image](https://user-images.githubusercontent.com/4836710/49333725-d953a200-f591-11e8-9647-98a91459f08b.png)

i can't view the reservations

[2018-12-12 13:13] fanguloaa commented on #53
i have the same issue any ideas?

[2018-12-20 12:40] vimalpatelserpentcs commented on #44
@OCA-git-bot hotel -> #54

[2018-12-22 22:33] droidosergioh commented on #53
Yes I have same issue. I see the v11 miss board_frontdesk module. I have installed it trying to converting somehow to v11 but it did not solve it... Any idea please?

[2019-01-14 23:56] makeplerc commented on #53
same issue, anyhelp?

[2019-01-24 00:45] rbetancor commented on #53
Same here, had someone got the v11 version to work?

[2019-02-11 23:04] JayVora-SerpentCS commented on #53
@Nikul-Chaudhary @vimalpatelserpentcs Do check

[2019-02-12 04:05] nikul-serpentcs commented on #53
Sure @JayVora-SerpentCS

[2019-02-18 08:52] rbetancor opened #58 "Guest management should be One2Many with the Reservation, not One2One"
In most countries, guest information should be transmited to the authorities, so should be better to handle that as a One2Many relation with the reservation and hotel folio, not One2One as now.

[2019-02-19 04:50] nikul-serpentcs commented on #53
@Mimbex @fanguloaa @droidosergioh @makeplerc @rbetancor Could you please take a look with new Pull.

[2019-02-19 08:09] Mimbex commented on #53
Works! fine now thanks!

[2019-02-19 08:10] #53 closed, assigned to nobody

[2019-02-19 09:01] rbetancor commented on #46
That happens to me also, the reason is that CheckIn field is allways filled with current date and time and when you finish filling the other fields and send the data to the server ,the time part of the CheckIn field is way seconds/minutes in the past and the server refuses the whole record.

The only way to bypass this, is to put some minutes more on the time part of the field, till someone fixes

[2019-02-20 04:12] JayVora-SerpentCS commented on #46
@nikul-serpentcs

[2019-02-27 19:53] hudson940 opened #59 "Uncaught TypeError: Cannot read property 'value' of undefined in view_hotel_room_kanban"
Odoo version 11.0
when I open kanban view room I get this error.

`http://localhost:8069/web?debug#view_type=list&model=hotel.room&action=353:41
Seguimiento:
TypeError: Cannot read property 'value' of undefined
    at Engine.eval (eval at _render (http://localhost:8069/web/content/311-e5376f5/web.assets_common.js:3731:73), <anonymous>:41:122)
    at Engine._render (http://localhost:8069/web/conten

[2019-02-27 20:12] JayVora-SerpentCS commented on #59
@nikul-serpentcs Please check.
cc @vimalpatelserpentcs

[2019-02-27 20:24] hudson940 commented on #59
sorry, my version did not have `<field name="id" />` in view_hotel_room_kanban.

[2019-02-28 05:16] vimalpatelserpentcs commented on #59
@hudson940 @JayVora-SerpentCS This issue raise due to missing `<field name="id" />` fields in
in view_hotel_room_kanban, So would you please take the latest pull and check again.

Thank you

[2019-02-28 08:22] #59 closed, assigned to nobody

[2019-03-08 10:28] joycehuan opened #60 "[12.0]module 'hotel_reservation' install error"
[code]

```base.res_partner_2``` is demo data, V11 ```hotel_reservation_data.xml``` also put it in demo list. but when migrate to V12, put this file to data list.
https://github.com/OCA/vertical-hotel/blob/ed970d6bf8cfb9b82f2d48e1a7dc8cc830115a89/hotel_reservation/__manifest__.py#L19

@vimalpatelserpentcs

cc @elicoidal

[2019-03-08 11:23] elicoidal commented on #60
Can you propose a PR to fix it? @joycehuan

[2019-03-12 06:14] #60 closed, assigned to nobody

[2019-03-19 07:54] TheRealHatCoder opened #63 "Enhancement to housekeeping module"
Hi,
I would like to suggest some enhancement to the housekeeping modules.

a. A room status field
- the values would be: Vacant clean, Vacant dirty, Occupied clean, Occupied dirty
- ability to filter rooms based on the field value
- a rooms status summary (similar to reservation summary) based on the field value.

b. Automatic status transition
upon some events such as check-in, check-out, room cl

[2019-03-19 07:59] TheRealHatCoder commented on #63
To add a bit to the context, the current housekeeping is more usefule as an room inspection tool.

While my request would be to have it more useful for planning (ie also helps regarding actual room availability for check in).

[2019-03-24 06:23] Mimbex commented on #58
that's right i'm working in that customization :)

[2019-04-11 16:15] jimdhope opened #69 "Version 12 only shows PDF Reports"
I previously used Odoo 11 on a private server and this plugin worked great. I've just made a new installation of Odoo 12 on Azure and the plugin only shows a popup with options to generate a PDF Report. I recreated this on a separate private server installation of Odoo 12 too.

Any help would be greatly appreciated

[2019-04-22 18:09] therealmjk commented on #69
@joycehuan pls can u help

[2019-04-26 09:21] tbaden commented on #44
hotel https://github.com/OCA/vertical-hotel/pull/54 merged, but not checked yet

[2019-05-04 18:08] luistorresm commented on #44
hotel_restaurant https://github.com/OCA/vertical-hotel/pull/72

[2019-05-04 20:21] luistorresm commented on #69
Hello @jimdhope @therealmjk

That repo is in progress for v12.

But maybe you need to add your user to the `Hotel Management / User - Manager` group to see the menus.

Could you test with that, please?

Regards

[2019-05-05 09:11] therealmjk commented on #69
@luistorresm Yeah thanks i figured tht out. Its actually the user group problem

[2019-05-22 07:14] harrisonwanghao opened #74 "where I can find the doc about how to use this hotel management ?"
I am a newbie, I need some documents

[2019-05-22 07:14] pedrobaeza commented on #74
@JayVora-SerpentCS do you have any doc?

[2019-05-22 07:16] harrisonwanghao commented on #74
I have not

[2019-05-22 07:49] JayVora-SerpentCS commented on #74
For now, the module's index files serve the purpose.
Secondly, readme file.

[2019-05-22 07:49] #74 closed, assigned to nobody

[2019-08-16 10:13] therealmjk opened #76 "object has no attribute 'get_base_url'"
Hi all
I get this error when i try to send reservation email odoo 12. Please help

`System Server Error
Traceback (most recent call last):
  File "/opt/odoo/odoo/addons/base/models/qweb.py", line 346, in _compiled_fn
    return compiled(self, append, new, options, log)
  File "<template>", line 1, in template_273_7008
AttributeError: 'hotel.reservation' object has no attribute 'get_base_url'

Duri

[2019-08-18 08:53] JayVora-SerpentCS commented on #76
@vimalpatelserpentcs please check.

[2019-08-19 05:22] therealmjk commented on #76
solved by adding

`    @api.multi
    def get_base_url(self):
        return ''

    @api.multi
    def _get_share_url(self, redirect=False, signup_partner=False, pid=None):
        return True`

[2019-08-29 07:09] dhruvitaSerpentCS commented on #76
@therealmjk , Fixed the issue in this PR #77  so please look into it.

[2019-08-29 07:35] #76 closed, assigned to vimalpatelserpentcs

[2019-09-03 16:37] ramon-flashtec opened #78 "Pricelist is ignored"
When I configure pricelists for the rooms (in sales module), these are ignored in the hotel module and the normal price is used for the calculation. The lists work in the sales module. It would be nice to be able to deposit discounts for the amount of adults and children.

For example:
1 adult: 40 € per person = 40 € total
2 adults: 25 € per person = 50 € total
3 adults 20 € per person = 60 € tota

[2019-09-08 05:03] jwcaceres opened #80 "Error installing Module"
When I Trying to install this module in fresh Odoo 12 Comunity I have this error:

Error:
Odoo Server Error

Traceback (most recent call last):
  File "/odoo/odoo-server/odoo/tools/convert.py", line 757, in parse
    self._tags[rec.tag](rec, de, mode=mode)
  File "/odoo/odoo-server/odoo/tools/convert.py", line 662, in _tag_record
    record = model.with_context(rec_context)._load_records([data], s

[2019-09-16 08:52] ThMechanic commented on #80
You have to check my installation code.......

[2019-09-16 11:12] JayVora-SerpentCS commented on #80
@vimalpatelserpentcs

[2019-09-29 21:51] OCA-git-bot opened #81 "Migration to version 13.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-13.0

# Modules to migrate

- [x] hotel
- [x] hotel_reservation
- [x] hotel_restaurant

Missing module? Check https://github.com/OCA/maintainer-tools/wiki/%5BFAQ%5D-Missing-modules-in-migration-issue-list

[2019-09-30 13:09] JayVora-SerpentCS commented on #43
We are sure this would work normal with latest code.

[2019-09-30 13:09] #43 closed, assigned to nobody

[2019-09-30 13:10] #69 closed, assigned to nobody

[2019-09-30 13:11] JayVora-SerpentCS commented on #48
Works normal with latest code, Hence closing.

[2019-09-30 13:11] #48 closed, assigned to nobody

[2019-10-14 07:15] Fazryan commented on #78
I have the same issue,
Need help here.

[2019-10-14 07:52] Fazryan opened #82 "[12.0] Multi Company"
Multi-company and unchecked "Common Product Catalog" in general settings.

when the user will make a record line in the "Reservations" menu at another company (for example hotel 2 and hotel 3),

Error: The requested operation could not be completed due to security restrictions. Please contact your system administrator.

(Document type: Warehouse, Operations: read) - (Note: [1], User: 8)

but the e

[2019-11-12 14:53] EBII commented on #21
many module migration in this issue are merged..
Need to migrate board_frontdesk ?

[2019-12-09 11:57] nikul-serpentcs opened #84 "[12.0] Hotel: When Create Service Line"
When creating Hotel and Added  **Create Service Line**   Record and added From date less than To date that time Got Error Like this

![test 1](https://user-images.githubusercontent.com/17664321/70433794-95e71a00-1aa8-11ea-86b6-093d792dbc0d.png)

[2019-12-10 07:05] nikul-serpentcs commented on #81
@OCA-git-bot  hotel --> #86

[2019-12-13 21:31] CarlosTGodoy opened #87 "How call the fields with php"
How can I call the fields of the reservation model? I am working with the API through php and when calling the reservation fields it has two different objects (hotel.reservation and hotel_reservation.line, the latter is on the reservation line) and it does not allow me to call them in a single method.

[2019-12-16 13:14] alielgarhi opened #88 "i migrated 3 moduled to odoo 13"
i mifrated 3 modules to odoo 13 but in hotel reservation view error in view_type
when i remove view_type from xml

AssertionError: Element odoo has extra content: record, line 6

[2019-12-16 14:36] JayVora-SerpentCS commented on #88
@alielgarhi v13 modules is in progress, FYI.
CC @vimalpatelserpentcs

[2019-12-17 14:34] alielgarhi commented on #88
i did the migration but only have one problem in create folio button object in reservation in this code

    def create_folio(self):
        """
        This method is for create new hotel folio.
        -----------------------------------------
        @param self: The object pointer
        @return: new record set for hotel folio.
        """
        hotel_folio_obj = self.env['hotel.folio']

[2019-12-24 01:08] halonso1990 opened #89 "Timestamp on Booking"
Hi team, I am new in odoo, I am installing the Hotel Management module, and everything is working, but my problem is whit timestamp, I've changed it on the server but the email templates still sending UTC time, I am needing this on CST, I've tried many ways but I am needing your experience to try to solve this, in worst case, do not display time on the email render
thank you so much

I am on odoo

[2020-03-01 11:53] habibhermes opened #90 "Problem when installing the module in Odoo 13"
I am getting the following error when installing the Hotel management module in odoo 13:

Error:
Odoo Server Error

Traceback (most recent call last):
  File "C:\Program Files (x86)\Odoo 13.0\server\odoo\http.py", line 619, in _handle_exception
    return super(JsonRequest, self)._handle_exception(exception)
  File "C:\Program Files (x86)\Odoo 13.0\server\odoo\http.py", line 309, in _handle_except

[2020-03-01 14:38] pedrobaeza commented on #90
Module is not migrated to v13 yet.

[2020-03-01 14:38] #90 closed, assigned to nobody

[2020-03-08 16:07] habibhermes commented on #90
@pedrobaeza I am having the same issue in Odoo 12.  Kindly assist.

`Error:
Odoo Server Error

Traceback (most recent call last):
  File "C:\Program Files (x86)\Odoo 12.0\server\odoo\tools\convert.py", line 758, in parse
    self._tags[rec.tag](rec, de, mode=mode)
  File "C:\Program Files (x86)\Odoo 12.0\server\odoo\tools\convert.py", line 663, in _tag_record
    record = model.with_context(rec_co

[2020-04-02 10:34] jcchoquet commented on #81
the modules are migrated ? have you need help ?

[2020-04-04 09:33] JayVora-SerpentCS commented on #81
@jcchoquet we would welcome any contribution

[2020-04-27 12:19] jcchoquet commented on #81
@JayVora-SerpentCS how can I help you ?
I need these modules to migrate my customer, the code is migrated ?need to test it ?

[2020-04-27 12:57] JayVora-SerpentCS commented on #81
@jcchoquet You may contribute by source code migration and review, or sponsoring the migration.
What way do you want to pick?
The source code migration is under progress.
Thanks.

[2020-04-27 13:03] jcchoquet commented on #81
if the source code migration is under progress, it's may be more simple if I review and test ?
have you already anything to test ?

[2020-04-29 09:17] jcchoquet commented on #81
@JayVora-SerpentCS I can test something  ?

[2020-05-13 20:33] kanys5 commented on #89
Hi
Did you find a solution to this problem I have the same problem

[2020-06-11 13:51] younes-a11y commented on #81
please class diagram of this application (hotel management )

[2020-06-19 14:52] JayVora-SerpentCS commented on #89
@vimalpatelserpentcs can you check this please?
Thanks.

[2020-06-19 14:53] JayVora-SerpentCS commented on #88
I have to close this issue, as v13 isnt yet ported and hence I cannot keep this open.

[2020-06-19 14:53] #88 closed, assigned to nobody

[2020-06-19 15:01] JayVora-SerpentCS commented on #80
https://runbot.odoo-community.org/runbot/157/12.0 shows it working. I assume its a code updated now

[2020-06-19 15:01] #80 closed, assigned to nobody

[2020-06-19 15:08] JayVora-SerpentCS commented on #87
@TorresGodoyCarlos
You may look at the Official documentation : https://www.odoo.com/documentation/13.0/webservices/odoo.html
Thanks,

[2020-06-19 15:08] #87 closed, assigned to nobody

[2020-06-19 15:09] JayVora-SerpentCS commented on #51
@vimalpatelserpentcs Did any of your PR fixed it ?

[2020-06-19 15:24] JayVora-SerpentCS commented on #39
We've achieved this under https://github.com/OCA/currency, so we dropped off static call of Exchange from Hotel since v11.
Thanks.

[2020-06-19 15:24] #39 closed, assigned to nobody

[2020-06-24 05:57] #84 closed, assigned to nobody

[2020-06-26 14:05] #46 closed, assigned to nobody

[2020-06-29 05:59] #89 closed, assigned to nobody

[2020-06-29 05:59] JayVora-SerpentCS commented on #89
The linked PR fixed this.

[2020-06-29 07:42] #52 closed, assigned to vimalpatelserpentcs

[2020-07-02 10:53] JayVora-SerpentCS opened #106 "Trouble understanding `hotel.room.reservation.line` and `hotel_reservation.line`"
I’m getting to know the code, and have trouble understanding the difference between the models `hotel.room.reservation.line` and `hotel_reservation.line`.

from
CoopIt easy
@mclaeysb

[2020-07-02 11:30] vimalpatelserpentcs commented on #106
**1. hotel_reservation.line** : This model used in the hotel reservation, where you can select room category and based on that you can select a room ( Technically, this model is used in hotel.reservation as one2many(hotel_reservation.line))
Screenshot link: https://prnt.sc/tae8nt

**2. hotel.room.reservation.line:** Generally, we can say as room reservation movement/history tables, In Reservation

[2020-07-16 05:31] #106 closed, assigned to vimalpatelserpentcs

[2020-07-17 12:09] #51 closed, assigned to nobody

[2020-07-19 05:23] nch-odoo opened #112 "Calendar view Room summary"
hi,
The calendar view for room summary shows 1 day free instead of reserved. for eg:
I have these reservation
![Selection_424](https://user-images.githubusercontent.com/7599820/87867690-43120100-c9ad-11ea-9729-b5f16361f7a4.jpg)
Now I run Reservation summary view it should show me RESERVED from 13th to 18th but It only shows from 13th to 17th

![Selection_425](https://user-images.githubusercontent.

[2020-07-19 05:54] nch-odoo commented on #112
@SerpentCS @pedrobaeza @robinkeunen

[2020-07-20 05:23] SerpentCS commented on #112
Naresh,
Specify the version please.
Thanks.

[2020-07-21 15:18] robinkeunen commented on #112
Hi @nch-odoo we need the version indeed. Plus I reimplemented the summary feature here https://github.com/OCA/vertical-hotel/pull/113 if you want to have a look.

[2020-07-23 11:47] #82 closed, assigned to nobody

[2020-07-24 07:25] nch-odoo commented on #112
@SerpentCS the version 11 CE

[2020-07-27 15:56] mclaeysb opened #116 "[11.0] Room view was broken by PR #111"
After updating our code and updating the `hotel` module, our 'Room' and 'Room Type' views were seemingly broken by #111 which was written to fix #51 .

For context:

An error while updating the Hotel app.
[code]

The error while accessing the `Room`view

[code]
The state of our database
![Screen Shot 2020-07-27 at 17 54 57](https://user-images.githubusercontent.com/2920134/88563548-659dbd00-d032-1

[2020-07-27 18:15] mclaeysb commented on #116
I think it also broke the room selector wizard in reservations!
@JayVora-SerpentCS

[2020-07-28 05:21] JayVora-SerpentCS commented on #116
@dhruvitaSerpentCS can you check?

[2020-07-29 14:59] mclaeysb commented on #116
Any news on this? Thanks for checking

I also think this makes a good point for maintaining the OCA practice of 2 positive reviews, including an external one before merging. Let's keep the code quality high together ;)

[2020-08-06 14:29] mclaeysb commented on #116
Hi. @JayVora-SerpentCS and @dhruvitaSerpentCS . Would it be possible to take a look at this? This is hindering our further development of the module. Thanks!

[2020-08-10 06:30] JayVora-SerpentCS commented on #116
@dhruvitaSerpentCS this is urgent as its late, please do the needful.
Thanks.

[2020-08-10 11:06] nch-odoo commented on #112
@robinkeunen @mclaeysb  I checked your updates and it also has same issue

[2020-08-17 13:21] mclaeysb commented on #112
I'm not sure I understand your the technical explanation @nch-odoo but from what I understand the summary lists the nights that are still free. A guest arriving on the 13th and leaving on the 18th will not be staying the night of the 18th, and thus that box should say 'Free' (unless the departure is too late in the afternoon, then it should say 'Reserved' indeed).

[2020-08-17 15:34] mclaeysb commented on #116
Seem to be fixed with #120. Thanks for the response!

[2020-08-18 05:27] #116 closed, assigned to nobody

[2020-09-02 09:59] Trivedi-Vacha-SerpentCS commented on #58
@Mimbex Is it done?

[2020-09-02 19:30] Mimbex commented on #58
@Trivedi-Vacha-SerpentCS  yes i forgot to release it

[2020-09-26 20:16] johnsh commented on #81
Hi, im developer, i want to help, how can i help? Thank you

[2020-09-28 06:48] JayVora-SerpentCS commented on #81
Please go through https://odoo-community.org/page/code
Thanks,

[2020-09-30 15:02] mclaeysb commented on #78
This was fixed by https://github.com/OCA/vertical-hotel/pull/117

[2020-10-04 10:36] OCA-git-bot opened #126 "Migration to version 14.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-14.0

# Modules to migrate

- [ ] hotel
- [ ] hotel_housekeeping
- [ ] hotel_restaurant

Missing module? Check https://github.com/OCA/maintainer-tools/wiki/%5BFAQ%5D-Missing-modules-in-migration-issue-list

[2020-10-05 15:40] kawan2882 opened #127 "[v10]Reservation booking issues and reservation lines"
Halo There i have a an issue with your module Hotel Booking Management

where when i book there is a message like this

""You tried to Confirm reservation with room those already reserved in this Reservation Period. Overlap Dates are""
![image](https://user-images.githubusercontent.com/72402654/95100647-8a618f80-075b-11eb-8767-15b4a363d65f.png)

The problem is i dont have a room already book on th

[2020-10-29 10:04] #21 closed, assigned to nobody

[2020-10-29 10:05] JayVora-SerpentCS commented on #44
@vimalpatelserpentcs Can you align with our QA guys once to make sure we have set this all in v12?
Thanks.

[2020-10-29 10:06] JayVora-SerpentCS commented on #81
@nikul-serpentcs Can you take a check once if we missed any v13 module and also add in issue description?
So we can close v13. Thanks.

[2020-12-06 16:58] luismata01 opened #131 "Problem when create new Room Type"
When I try to create a new Room Type de Category field need create an edit a new and open a new window with the same requirements and never stop.

[2020-12-07 09:52] JayVora-SerpentCS commented on #131
@luismata01 would you please share a video of this? or may be on runbot?
Thanks

[2020-12-07 23:51] luismata01 commented on #131
Hi @JayVora-SerpentCS

This is the video [https://drive.google.com/file/d/1E5pdcrFN-fB1z_kuGllYJR9lOlSAWxpx/view?usp=sharing](url)

[2020-12-08 00:22] luismata01 commented on #131
How can I load the Demo data from xml?

[https://github.com/OCA/vertical-hotel/blob/13.0/hotel/demo/hotel_data.xml](url)}}

Can you help me please?

[2020-12-08 07:40] JayVora-SerpentCS commented on #131
@luismata01 We couldn't access the video as it needs permission.
Loading demo data is an odoo feature when you load the database with DEMO options checked yes.
@dhruvitaSerpentCS can you check for the said issue?
Thanks.

[2020-12-09 06:29] #131 closed, assigned to nobody

[2021-01-04 11:45] pareeshi opened #133 "Problem with food item configuration"
Hi,

I was using the hotel restaurant management model, but i have problem during food item and type configuration.
I report you the screenshot, in which there's no "Add" button.
Anyone can help me about this?

Thanks for atttention,
Have a good day!

(i am using Odoo 12.0 with the same version of the module, on Windows 10)

![Schermata 2021-01-04 alle 12 41 55](https://user-images.githubuserconte

[2021-01-07 05:50] Rajan-SerpentCS commented on #133
@pareeshi
Fixed issue in 12.0 branch please take the latest code and check it.

cc @JayVora-SerpentCS

[2021-01-08 08:56] pareeshi commented on #133
Perfect! It works now!
Thanks a lot

[2021-01-08 08:56] #133 closed, assigned to nobody

[2021-05-03 03:09] jwcaceres78 opened #137 "Error "Room Duplicate Exceeded!, You Cannot Take Same Doble - 103 Room Twice!" In Folio Create Odoo 13"
I reserver Two rooms:
![image](https://user-images.githubusercontent.com/74755273/116838118-d3af7b80-ab92-11eb-9b25-9a60c0be6ade.png)

But when I want to create the Service detail I have this message
![image](https://user-images.githubusercontent.com/74755273/116838164-078aa100-ab93-11eb-96d9-36134be9fe20.png)

Can you helpme?

Thanks Regards,
Jorge

[2021-05-03 04:25] JayVora-SerpentCS commented on #137
@vimalpatelserpentcs Please check.
Thanks

[2021-05-12 13:17] vimalpatelserpentcs commented on #137
@jwcaceres78, Fixed this issue and added PR #139  for it.
cc @JayVora-SerpentCS

[2021-05-14 05:40] #137 closed, assigned to nobody

[2021-06-23 08:59] sound675 commented on #10
Hi JayVora-SerpentCS,

Excuse me for opening this ticket again,
I am using Odoo 12 CE

I am unable to check out the guest from the rooms, thus all the rooms status is always will be "Occupied"

I have to manually checklist the room status from Configuration - Rooms, in order to change the status.

Hope to get your feedback about the logic in #OCA2017 that you mentioned earlier.

Thank you

[2021-06-23 09:40] sound675 opened #149 "CE_12 | Hotel Folio Report Timezone Problem"
Hi, I am using Odoo CE 12

I have installed Module:
- hotel
- hotel_reservation
- report_hotel_reservation

I have set the correct timezone for:
- My User
- The Contacts
- Working Hours

Then I have restart Odoo server, just to make sure

Problem :
Whenever I print "Hotel Folio Report", the Checkin and Checkout time printed on PDF is different with the Checkin and Checkout
 time stated on Folio.

[2021-07-06 08:00] JayVora-SerpentCS commented on #10
@vimalpatelserpentcs Can you take a look?
Thanks.

[2021-07-06 08:00] JayVora-SerpentCS commented on #149
@vimalpatelserpentcs

[2021-07-21 23:59] bguernouti opened #150 "Computed fields not updating in the UI"
Since the inheritance method of the `sale.order` and `sale.order.line` models is a delegate inheritance, the fields like `amount_untaxed`, `amount_tax`, `amount_total` in the model `hotel.folio` (`sale.order`)
and fields `price_subtotal`, `price_total` in the model `hotel.folio.line` (`sale.order.line`) are not live updated in the folio creation form.

I discovered that we have to re-implement the

[2021-07-28 13:13] flotho opened #153 "Question regarding PMS repositories"
Hi,

I would like to thanks both maintainer of this repo and the OCA/pms ones, we have great modules there.
I'm wondering if there on't be a way to share some features like reservation, room/property descriptions etc...
What's your point of view on this?

Regards

[2021-07-28 14:35] JayVora-SerpentCS commented on #153
True, agreed!
Do we have a list of features planned?
Thanks,

[2021-07-28 14:38] pedrobaeza commented on #153
cc @DarioLodeiros

[2021-07-28 17:43] flotho commented on #153
Another way of sharing could be with https://github.com/OCA/vertical-realestate

What I can imagine is to first start by adding more descriptions to the properties / room / estate :
* precise location with a link to partner (to get country, department, direct geomaps, etc)
* more information regarding the surface of the (room preperties)
* Number of pieces, number of floor
* Which floor etc..
* Ph

[2021-07-29 10:57] DarioLodeiros commented on #153
Hi!
Thanks cc @pedrobaeza!!
Pms project work with multicompany context, and we dev a property model to manage a multiproperty security rules etc...
I think that pms and verticalhotel has a core differents, We could propose an integration study of both repositories for future versions, v15 or later.
The pms road map has an ambitious roadmap that include website booking, precheckins etc.. but by the

[2021-07-29 10:59] pedrobaeza commented on #153
Darío, what Florent is proposing is to extract the base "property" model to a common module (`base_property`?), to be used by both verticals as core model data as a first step.

[2021-07-29 11:09] DarioLodeiros commented on #153
Yes, I think that is a good first step, all right for me.
I even think that this module could be valid for other types of sectors
that need to segment the company into more specific units.

El jue., 29 jul. 2021 12:59, Pedro M. Baeza ***@***.***>
escribió:

[2021-07-29 11:24] pedrobaeza commented on #153
OK, then I think any of you can put the data model for seeing the shared fields.

[2021-07-29 11:31] JayVora-SerpentCS commented on #153
There are thin line differences between Real estate, Property, Rental concept and Hotel.
Our concept would work for even : Community Clubs, sports clubs!

@flotho Can we have one shared sheet where we all share common data models?
So we can conclude there and later bring it to OCA.
Just a thought.
Thanks.

[2021-07-29 11:38] DarioLodeiros commented on #153
+1El 29 jul. 2021 13:31, "Serpent Consulting Services Pvt. Ltd." ***@***.***> escribió:
There are thin line differences between Real estate, Property, Rental concept and Hotel.
Our concept would work for even : Community Clubs, sports clubs!
@flotho Can we have one shared sheet where we all share common data models?
So we can conclude there and later bring it to OCA.
Just a thought.
Thanks.

—You

[2021-07-29 11:46] flotho commented on #153
Great

what are the OCA recommandations ?
prepare a furture merge request in this repo, start with a issue and checkbox, online excel file on any cloud? youyr advices will be followed.

Regards

[2021-07-30 07:09] JayVora-SerpentCS commented on #150
@vimalpatelserpentcs can you take a look?
Thanks.

[2021-08-10 05:52] #149 closed, assigned to nobody

[2021-08-21 16:30] HaithamSaqr opened #157 "can not create invoice from folio"
Reason(s) of this behavior could be:
- You should deliver your products before invoicing them: Click on the "truck" icon (top-right of your screen) and follow instructions.
- You should modify the invoicing policy of your product: Open the product, go to the "Sales tab" and modify invoicing policy from "delivered quantities" to "ordered quantities".

[2021-08-21 17:38] #157 closed, assigned to nobody

[2021-08-25 11:25] sound675 commented on #149
Dear Rajan-SerpentCS

I hav seen that this issues has been fixed in
https://github.com/OCA/vertical-hotel/pull/155

Thank you for your fix.

However I am using Odoo CE ver 12.
But the fix is only for version 14 ?

Please advice.

Thank you

[2021-08-25 11:46] JayVora-SerpentCS commented on #149
@Rajan-SerpentCS please backport upon convenience.

[2021-08-25 12:53] sound675 commented on #149
I thank you for your kindness!

I am a very newbie to Odoo and I install Odoo CE ver 12 in Windows
Really hoping for your feedback Mr. JayVora and Mr. Rajan

Thank you very much

[2021-10-17 10:23] OCA-git-bot opened #160 "Migration to version 15.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-15.0

# Modules to migrate

- [ ] hotel
- [ ] hotel_housekeeping
- [ ] hotel_reservation
- [ ] hotel_restaurant
- [ ] report_hotel_reservation
- [ ] report_hotel_restaurant

Missing module? Check https://github.com/OCA/maintainer-tools/wiki/%5BFAQ%5D-Missing-modules-in-migration-issue-list

[2021-12-28 06:11] drvaya opened #161 "Dynamic Pricing for Rooms based on Weekday/Holiday"
**Is your feature request related to a problem?**
We would like to configure room tariffs based on the weekday - For eg: Weekdays Mon-Thu would be a fixed pricing, whereas on Weekends - Fri-Sun would be an additional premium pricing.

**Describe the solution you'd like**
Can this be made configurable in the Room configuration.

**Describe alternatives you've considered**
Additional Charges to be a

[2021-12-30 13:11] drvaya commented on #127
Yes I am also facing same issue - especially when doing multiple room booking in single reservation for a guest.

Any solutions available for this ?

[2021-12-31 12:24] SerpentCS commented on #127
@vimalpatelserpentcs Please take a look.

[2022-01-07 11:30] vimalpatelserpentcs commented on #127
Hello @drvaya @kawan2882 , On which version have you facing this issue ?

[2022-01-07 11:46] drvaya commented on #127
I faced this with v10.0

On Fri, 7 Jan 2022 at 5:01 PM, Vimal Patel ***@***.***> wrote:

[2022-01-17 16:01] drvaya commented on #127
@vimalpatelserpentcs - Any updates on this issue ? Can you confirm if this is reproducible on any higher versions of Odoo then we would have to work out an upgrade in that case.

[2022-01-24 06:50] Rajan-SerpentCS commented on #127
Hello @drvaya,
I have checked and not Facing such kind of issue in version 14.0.

[2022-02-16 14:02] Shebhi opened #168 "QWeb2: Template 'RoomSummary' not found"
Whilst Clicking on Reservations Summary, It throws error - QWeb2: Template 'RoomSummary' not found

## Module
Hotel Reservation Management

## Describe the bug
Whilst Clicking on Reservations Summary, It throws error - QWeb2: Template 'RoomSummary' not found

## To Reproduce
odoo11 CE

Steps to reproduce the behavior:
1.
2.
3.

**Expected behavior**
A clear and concise description of what you expe

[2022-05-27 02:44] caster082 opened #169 "Failed to render template : 'odoo.api.hotel.reservation object' has no attribute 'warehouse_id'"

[2022-06-09 08:49] drvaya opened #170 "FrontDesk / Reservation Summary on v14"
I am unable to get the Frontdesk view or the older Reservation Summary that showed a calendar type view of all the booked/available rooms.

How do I enable the same ?

[2022-06-09 08:50] drvaya commented on #170
Precisely this version - https://apps.odoo.com/apps/modules/14.0/hotel/

[2022-06-12 12:27] #44 closed, assigned to nobody

[2022-06-12 12:27] #58 closed, assigned to nobody

[2022-06-12 12:27] #63 closed, assigned to nobody

[2022-06-12 12:27] #78 closed, assigned to nobody

[2022-06-12 12:27] #81 closed, assigned to nobody

[2022-06-12 12:27] #112 closed, assigned to nobody

[2022-06-26 12:28] #126 closed, assigned to nobody

[2022-06-26 12:28] #150 closed, assigned to nobody

[2022-07-07 03:25] mdfaisalpapa opened #171 "How to make the App available to portal users"
The administrator can access the app and make reservations. How to make this app available to portal users?

Reservation Summary shows the free rooms available to administrator. How make this available for portal users.

[2022-07-24 12:31] #153 closed, assigned to nobody

[2022-07-24 12:31] #160 closed, assigned to nobody

[2022-07-31 12:31] #161 closed, assigned to nobody

[2022-08-28 12:30] #127 closed, assigned to nobody

[2022-08-31 14:41] totoday72 opened #172 "Error when entering the reservation module with a different company than the first company in Odoo"
at the time of wanting to enter the reservations module through another company other Different hotel companies in a if it works but in the second one gives error and does not allow to enter the module.

## Module
hotel_reservation

## Describe the bug
When try enter to the hotel_reservation module with 2nd company, the message appears:

The requested operation ("read" in "product" (product.produc

[2022-09-01 21:39] totoday72 commented on #172
**Solution**
I create "Record Rules" for models.
- Hotel Service -> Domain: ['|',('company_id','=',False),('company_id', 'in', company_ids)]
- Hotel Room -> Domain: ['|',('company_id','=',False),('company_id', 'in', company_ids)]
- Hotel Amenities -> Domain: ['|',('company_id','=',False),('company_id', 'in', company_ids)]
- Hotel Reservation -> Domain: ['|',('warehouse_id.company_id','=',False),('

[2022-09-25 12:35] #168 closed, assigned to nobody

[2022-10-03 17:04] OCA-git-bot opened #174 "Migration to version 16.0"
# Todo

https://github.com/OCA/maintainer-tools/wiki/Migration-to-version-16.0

# Modules to migrate

- [ ] hotel

Missing module? Check https://github.com/OCA/maintainer-tools/wiki/%5BFAQ%5D-Missing-modules-in-migration-issue-list

[2022-10-06 08:42] mulyono0805 commented on #170
restart odoo service

[2022-11-23 16:34] fgarcia-humanoide opened #181 "cannot see the icon"
cannot see the icon

## Module
vertical hotel app

## Describe the bug
cannot see the icon

## To Reproduce
14

Steps to reproduce the behavior:
1.
2.
3.

**Expected behavior**
a beautiful icon
![hotelnoseve](https://user-images.githubusercontent.com/7599709/203599997-71168b12-c927-48b4-aa9e-8a561205cea1.JPG)

**Additional context**
Add any other context about the problem here. (e.g. OS, Python ve

[2022-11-29 09:59] fits-bandung commented on #169
Added error information that I found,
A warning appears when sending an email to a customer or when clicking the Send Reservation Email button.

The following warning appears,
Failed to render template : 'odoo.api.hotel.reservation object' has no attribute 'warehouse_id'
![image](https://user-images.githubusercontent.com/20293146/204497911-c71c2395-c235-43bd-afca-e0ae3755b2dd.png)

How to handle t

[2022-11-30 06:16] JayVora-SerpentCS commented on #169
Looks like an unmapped field being used on email.

which odoo version are you using ?

@shwetaserpentcs please check.

[2022-11-30 06:53] fits-bandung commented on #169
This happened in Odoo version 14 CE with addons version 14 as well